In [26]:
import DBcm
import pprint

config = {
    "host": "127.0.0.1",
    "database": "leagueTracker2",
    "user": "leagueAdmin",
    "password": "trackerPass",
}

SQL_unplayedMatches = "select * from matchdetails where status = 'Not Played'"
SQL_appendMatch = "update matchdetails where MatchID = '%s' set Winner = '%s' & set Status ='Played'"
SQL_createPLayer = "insert into players "
SQL_orderedLeague = "select * from player order by LeaguePoints desc"

In [10]:
def leagueTable():
    with DBcm.UseDatabase(config) as db:
        try:
            db.execute(SQL_orderedLeague)
            data = db.fetchall()
        except DBcm.SQLError as err:
            print("Your query broke:", str(err))
    
    leagueTable = data
    return leagueTable

In [15]:
def unplayedMatches():
    with DBcm.UseDatabase(config) as db:
        try:
            db.execute(SQL_unplayedMatches)
            data = db.fetchall()
        except DBcm.SQLError as err:
            print('Your query broke:', str(err))

    unplayed = data
    return unplayed

In [23]:
def appendMatch(mId, winner):
    with DBcm.UseDatabase(config) as db:
        try:
            db.execute(SQL_appendMatch,(
                mId,
                winner,
                )
            )
        except DBcm.SQLError as err:
            print("Your query broke:", str(err))

In [27]:
mId = 20
winner = "Dan Turner"

In [28]:
appendMatch(mId, winner)

SQLError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'where MatchID = '20' set Winner = ''Dan Turner'' & set Status ='Played'' at line 1